# jekyll stuff
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
alembic-jekyll-theme-*.gem
Gemfile.lock
**/Gemfile.lock

# ZAVVE 
remote-themes/

## portfoYOU theme
# Ruby Gems
*.gem

# Design Files
*.psd
*.ai

# IntelliJ
.idea