{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      <!--ZAVVE-->
      {% if item.title == 'theme'%}
        <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
          <!--<input class="theme-toggle" type="checkbox">-->
          <button type="menu" onclick="myFunction()">dark mode</button>
          <!--{% include button.html text="dark" icon="github" link="" color="#0366d6" %}-->
        </li>
        <!--/ZAVVE-->
      {% else %}
        {% if item.url contains '://' %}
          {% assign url = item.url %}
        {% else %}
          {% assign url = item.url | relative_url %}
        {% endif %}

        <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
          <a href="{{ url }}">{{ item.title }}</a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>

<!--ZAVVE-->
<script>
  function myFunction() {
    var body_elem = document.body;
    body_elem.classList.toggle("dark-mode");

    /*
    var feat_elem = document.querySelector('.feature');
    feat_elem.classList.toggle("dark-feature");

    var button_elem = document.querySelector('button')
    button_elem.classList.toggle("dark-button");

    var small_elem = document.querySelector('.small')
    small_elem.classList.toggle("dark-small");

    var footer_elem = document.querySelector('.footer')
    footer_elem.classList.toggle("dark-footer");

    // only in some pages
    var navp_elem = document.querySelector('.nav--paginator')
    navp_elem.classList.toggle("dark-nav-paginator");

    var item_elem = document.querySelector('.item')
    item_elem.classList.toggle("dark-item");

    var form_elem = document.querySelector('.form')
    form_elem.classList.toggle("dark-form");

    var btnnav_elem = document.querySelector('.button--nav')
    btnnav_elem.classList.toggle("dark-button-nav");

    var code_elem = document.querySelector('.code')
    code_elem.classList.toggle("dark-code");*/

    console.log("[LOG]> Dark theme enabled")
  }
  //const checkbox = document.querySelector('input[type="checkbox"]');
  //checkbox.addEventListener("change", () => {
  //  document.body.classList.toggle("dark-mode");
  //});
</script>
<!--ZAVVE-->