---
title: false
styles: true
---

// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa ;
$accentColour: #05bf85;

// Text colours
$headingColour: #242e2b;
$bodyColour: #384743;
$linkColour: #05bf85;
$hoverColour: #008000;
$focusColour: #fa407a;
$captionColour: #a8adac;
$white: #ffffff;


@import "alembic";
