---
title: false
styles: true
---

/* ############## Light Theme color palette */
// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa ;
$accentColour: #05bf85;
// Text colours
$headingColour: #242e2b;
$bodyColour: #384743;
$linkColour: #05bf85;
$hoverColour: #008000;
$focusColour: #fa407a;
$captionColour: #a8adac;
$white: #ffffff;

/* ############## Dark theme color palette */
// Background colours
$dark-backgroundColour:#1a1a1a;
$dark-codeBackgroundColour:#323232;
$dark-featureBackgroundColour:#000000;
$dark-accentColour:#a5bdff;
// Text colors
$dark-headingColour:#ffffff;
$dark-bodyColour:#d2d2d2;
$dark-linkColour:#5380ff;
$dark-hoverColour:#a5bdff;
$dark-focusColour:#fa407b;
$dark-captionColour:#808080;


.dark-mode {
  background: $dark-backgroundColour;
  color: $dark-bodyColour;
}
.dark-feature {
  background: $dark-featureBackgroundColour;
}
.dark-button {
  color: $dark-backgroundColour;
  background: $dark-accentColour;
}
.dark-small {
  color: $dark-captionColour;
}
.dark-footer {
  background: $dark-headingColour;
  color: $dark-captionColour;
  a {
    color: $dark-captionColour;
    &:hover {
      color: $dark-backgroundColour;
    }
  }
}
.dark-nav-paginator {
  color: $dark-captionColour;
}
.dark-item {
  &--current {
    a {
      color: $dark-captionColour;
    }
  }
}
.dark-form {
  &__legend {
    color: $dark-captionColour;
  }
}
.dark-button-nav {
  color: $dark-linkColour;
  &:focus {
    color: $dark-hoverColour;
  }
}
.dark-code {
  color: $dark-headingColour;  
}




// Font import, if you're using a non-standard web font
//@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

@import "alembic";



/* Dark theme color palette
// Background colours
$backgroundColour:#1a1a1a;
$codeBackgroundColour:#323232;
$featureBackgroundColour:#000000;
$accentColour:#a5bdff;
// Text colors
$headingColour:#ffffff;
$bodyColour:#d2d2d2;
$linkColour:#5380ff;
$hoverColour:#a5bdff;
$focusColour:#fa407b;
$captionColour:#808080;
$white:#fff;

// Typography
$bodytype: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);
*/

